<div class="row">
    <div class="col-12 mb-4 mt-4">
        <h3 *ngIf="actualDate"> 🦠Coronavirus confirmed countries to {{actualDate}} </h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-dark" *ngFor="let country of countries">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>New Confirmed</th>
                    <th>Total Confirmed</th>
                    <th>Deaths</th>
                    <th>Total Recovered</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{country.Country}}</td>
                    <td>{{country.NewConfirmed}}</td>
                    <td>{{country.TotalConfirmed}}</td>
                    <td>{{country.TotalDeaths}}</td>
                    <td>{{country.TotalRecovered}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>